{% block profilemenu %}


<div class="subnav hide-print">
    <div class="page-container-responsive">
        <ul class="subnav-list">
            <li>
                <a href="/rooms" aria-selected="false" class="subnav-item cohosting-ml-tooltip-trigger" id="/rooms">숙소 목록</a>
            </li>
            <li>
                <a href="/pets" aria-selected="false" class="subnav-item" id="/pets">펫 목록</a>
            </li>
            <li>
                <a href="/users/edit" aria-selected="false" class="subnav-item" id="/users/edit">프로필</a>
            </li>
            <li>
                <a href="#account"  aria-selected="false" class="subnav-item" id="#/account">계정 관리</a>
            </li>
            <li>
                <a href="/user/payments_list" class="subnav-item" id="invite-friends-item">거래 목록</a>
            </li>
        </ul>
    </div>
</div>


{% endblock %}
